<div class="row mt-5 d-none d-sm-block" style="height: 10px;"></div>

<div class="container-fluid">
  <div class="table-responsive scrollable" data-aos="zoom-in">
    <div class="table-wrapper">
      <div class="table-title">

        <div class="row d-flex align-items-center">

          <div class="col-12 d-flex just justify-content-center align-items-center">
            <div class="search" style="width: 100%;">
              <i class="fa-sharp-duotone fa-solid fa-magnifying-glass fa-search"></i>
              <input type="text" class="form-control rounded-pill" type="search" [(ngModel)]="searchKey"
                (keyup)="onKeyUp($event)" placeholder="Search here.." aria-label="Search">
              <a class="btn btn-primary d-flex justify-content-center align-items-center rounded-pill" type="button"
                (click)="onSearch()"><i class="fa-sharp-duotone fa-solid fa-magnifying-glass"></i></a>
            </div>
            <a *ngIf="canCreate" class="btn btn-success rounded-pill d-flex justify-content-center align-items-center "
              type="button" (click)="onAddOthers()">
              <i class="fa-sharp-duotone fa-solid fa-plus"></i><span class="fs-6">NEW</span></a>

            <button class="btn btn-dark rounded-pill d-flex justify-content-center align-items-center" type="button"
              (click)="handle(scannerAction, scannerAction.isStart ? 'stop' : 'start', 'retreive')"
              [class.btn-warning]="scannerAction?.isStart" [disabled]="scannerAction?.isLoading || false">
              <i class="fa-solid fa-qrcode"></i>
              <span class="fs-6">Scan</span>
            </button>

          </div>

        </div>

      </div>

      <div *ngIf="isLoading" class="text-center my-3 align-content-center" style="height: 50vh;">
        <img src="../../../assets/images/loading.gif" alt="Loading..." width="100" style="height: 80px;">
        <span class="loading-text text-dark">Loading<span class="dot">.</span>
          <span class="dot">.</span><span class="dot">.</span></span>

        <!-- <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div> -->
      </div>

      <!-- <i class="icon text-info float-end" *ngIf="!isLoading" data-bs-toggle="tooltip" data-bs-html="true"
        data-bs-placement="bottom"
        data-bs-custom-class="custom-tooltip"  [title]="legend">
        <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg"> <path opacity="0.4"
            d="M16.34 1.99976H7.67C4.28 1.99976 2 4.37976 2 7.91976V16.0898C2 19.6198 4.28 21.9998 7.67 21.9998H16.34C19.73 21.9998 22 19.6198 22 16.0898V7.91976C22 4.37976 19.73 1.99976 16.34 1.99976Z"
            fill="currentColor"></path> <path fill-rule="evenodd"
            clip-rule="evenodd"
            d="M11.1246 8.18921C11.1246 8.67121 11.5156 9.06421 11.9946 9.06421C12.4876 9.06421 12.8796 8.67121 12.8796 8.18921C12.8796 7.70721 12.4876 7.31421 12.0046 7.31421C11.5196 7.31421 11.1246 7.70721 11.1246 8.18921ZM12.8696 11.362C12.8696 10.88 12.4766 10.487 11.9946 10.487C11.5126 10.487 11.1196 10.88 11.1196 11.362V15.782C11.1196 16.264 11.5126 16.657 11.9946 16.657C12.4766 16.657 12.8696 16.264 12.8696 15.782V11.362Z"
            fill="currentColor"></path> </svg>
      </i> -->

      <table class="table table-striped table-hover" *ngIf="!isLoading">
        <thead>
          <tr>
            <th></th>
            <!-- <th>Date Created</th> -->
            <th>PAR No.</th>
            <th>Issued By</th>
            <th>Recieved By</th>
            <th>Created By</th>
            <th class="text-center">Actions

            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of others">
            <td>
              <!-- <a [ngClass]="p.postFlag ? 'primary' : 'secondary'" type="button" (click)="onPostPAR(p)">
                <i class="fa-sharp-duotone fa-solid fa-thumbtack" data-toggle="tooltip"
                  [title]="p.postFlag ? 'Posted' : 'Not yet Posted'"></i>
              </a> -->
            </td>
            <!-- <td>{{formatDate(p.date_Created)}}</td> -->
            <td>{{p.parNo}}</td>
            <td>{{p.issued}}</td>
            <td>{{p.received}}</td>
            <td>{{p.created}}</td>
            <td>
              <!-- <form class="d-flex justify-content-end align-items-center">
                @if(p.userName == "admin"){
                <span><i class="fa-sharp-duotone fa-solid fa-asterisk" data-toggle="tooltip"
                    title="System Default"></i></span>
                }@else{
                <a *ngIf="canRetrieve" class="edit" type="button" (click)="onEditPAR(p)"><i
                    class="fa-sharp-duotone fa-solid fa-pen-to-square" data-toggle="tooltip" title="Edit"></i></a>
                <a *ngIf="canDelete  && p.createdBy === userAccount.userID" class="delete" type="button"
                  (click)="onDelete(p)"><i class="fa-sharp-duotone fa-solid fa-trash" data-toggle="tooltip"
                    title="Delete"></i></a>
                <a *ngIf="canRetrieve" class="success" type="button" (click)="onViewPAR(p)">
                  <i class="fa-sharp-duotone fa-solid fa-eye" data-toggle="tooltip" title="View"></i>
                </a>
                <a class="seconadry" type="button" (click)="onPrintPAR(p.parNo!)">
                  <i class="fa-sharp-duotone fa-solid fa-print" data-toggle="tooltip" title="Print"></i>
                </a>
                <a *ngIf="canPTR  && (p.receivedBy=== userAccount.userID || p.createdBy== userAccount.userID ||
                  userAccount.userGroupName === 'System Administrator'
                )"
                  class="primary" type="button" (click)="onRepar(p)"><i class="fa-solid fa-share-from-square"
                    data-toggle="tooltip" title="PTR"></i></a>
                }
              </form> -->
            </td>
          </tr>
        </tbody>
      </table>

      <div class="clearfix" *ngIf="!isLoading">
        <div class="hint-text">Showing <b>{{0}}</b> out of
          <b>{{0}}</b>entries
        </div>
        <!-- <ul class="pagination">
          <li class="page-item disabled"><a href="#">Previous</a></li>
          <li class="page-item"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item active"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link">Next</a></li>
        </ul> -->
      </div>
    </div>
  </div>
</div>
