<div class="row">
  <div class="col-lg-12 col-md-12 p-0">
    <!-- Carousel -->
    <div class="card-carousel">
      <button #prev class="carousel-btn prev" id="prev" (click)="moveToPrev()" aria-label="Previous Slide">‹</button>
      <div class="carousel-container">
        <div #carouseltrack class="carousel-track" id="carouseltrack">
          <!-- PAR -->
          <div class="card l-bg-cherry" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="500">
            <div class="card-statistic-3 p-4">
              <div class="card-icon card-icon-large">
                <i class="fas fa-receipt"></i>
              </div>
              <div class="mb-4">
                <h5 class="card-title mb-0">TOTAL PAR</h5>
              </div>
              <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                  <h2 class="d-flex align-items-center mb-0">{{census?.totalPAR || 0}}</h2>
                </div>
                <div class="col-4 text-right">
                  <!-- <span>12.5% <i class="fa fa-arrow-up"></i></span> -->
                </div>
              </div>
            </div>
          </div>
          <!-- PTR -->
          <div class="card l-bg-green-dark" data-aos="flip-left" data-aos-easing="ease-out-cubic"
            data-aos-duration="1000">
            <div class="card-statistic-3 p-4">
              <div class="card-icon card-icon-large">
                <i class="fas fa-share-from-square"></i>
              </div>
              <div class="mb-4">
                <h5 class="card-title mb-0">TOTAL PTR</h5>
              </div>
              <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                  <h2 class="d-flex align-items-center mb-0">{{census?.totalREPAR! || 0}}</h2>
                </div>
                <div class="col-4 text-right">
                  <!-- <span>12.5% <i class="fa fa-arrow-up"></i></span> -->
                </div>
              </div>
            </div>
          </div>
          <!-- PRS -->
          <div class="card l-bg-blue-dark" data-aos="flip-left" data-aos-easing="ease-out-cubic"
            data-aos-duration="2500">
            <div class="card-statistic-3 p-4">
              <div class="card-icon card-icon-large">
                <i class="fas fa-rotate-left"></i>
              </div>
              <div class="mb-4">
                <h5 class="card-title mb-0">TOTAL PRS</h5>
              </div>
              <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                  <h2 class="d-flex align-items-center mb-0">{{census?.totalPRS || 0}}</h2>
                </div>
                <div class="col-4 text-right">
                  <!-- <span>12.5% <i class="fa fa-arrow-up"></i></span> -->
                </div>
              </div>
            </div>
          </div>
          <!-- ICS -->
          <div class="card l-bg-orange-dark" data-aos="flip-left" data-aos-easing="ease-out-cubic"
            data-aos-duration="2500">
            <div class="card-statistic-3 p-4">
              <div class="card-icon card-icon-large">
                <i class="fas fa-clipboard"></i>
              </div>
              <div class="mb-4">
                <h5 class="card-title mb-0">TOTAL ICS</h5>
              </div>
              <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                  <h2 class="d-flex align-items-center mb-0">{{census?.totalICS || 0}}</h2>
                </div>
                <div class="col-4 text-right">
                  <!-- <span>12.5% <i class="fa fa-arrow-up"></i></span> -->
                </div>
              </div>
            </div>
          </div>
          <!-- ITR -->
          <div class="card l-bg-green-dark" data-aos="flip-left" data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="card-statistic-3 p-4">
              <div class="card-icon card-icon-large">
                <i class="fas fa-share"></i>
              </div>
              <div class="mb-4">
                <h5 class="card-title mb-0">TOTAL ITR</h5>
              </div>
              <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                  <h2 class="d-flex align-items-center mb-0">{{census?.totalITR || 0}}</h2>
                </div>
                <div class="col-4 text-right">
                  <!-- <span>12.5% <i class="fa fa-arrow-up"></i></span> -->
                </div>
              </div>
            </div>
          </div>
          <!-- RRSP -->
          <div class="card l-bg-blue-dark" data-aos="flip-left" data-aos-easing="ease-out-cubic"
            data-aos-duration="2500">
            <div class="card-statistic-3 p-4">
              <div class="card-icon card-icon-large">
                <i class="fas fa-rotate-left"></i>
              </div>
              <div class="mb-4">
                <h5 class="card-title mb-0">TOTAL RRSP</h5>
              </div>
              <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                  <h2 class="d-flex align-items-center mb-0">{{census?.totalRRSEP || 0}}</h2>
                </div>
                <div class="col-4 text-right">
                  <!-- <span>12.5% <i class="fa fa-arrow-up"></i></span> -->
                </div>
              </div>
            </div>
          </div>
          <!-- Repeat similar card structures as needed -->
        </div>
      </div>
      <button #next class="carousel-btn next" id="next" (click)="moveToNext()" aria-label="Next Slide">›</button>
    </div>
  </div>
  <div class="col-lg-8 col-md-12p-0">

    <!-- Announcement and Updates -->

    <div class="card  rounded-pill" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500">
      <div class="card-body">
        <div class="row ">
          <div class="col-12 d-flex just justify-content-center align-items-center">
            <div class="search pe-3" style="width: 100%;">
              <i class="fa-sharp-duotone fa-solid fa-magnifying-glass fa-search"></i>
              <input type="text" class="form-control rounded-pill" [(ngModel)]="searchKey" (keyup)="onKeyUp($event)"
                placeholder="Search Announcement" aria-label="Search">
              <a class="btn btn-primary d-flex justify-content-center align-items-center rounded-pill me-3"
                type="button" (click)="onSearchAnnouncement()"><i
                  class="fa-sharp-duotone fa-solid fa-magnifying-glass"></i></a>
            </div>

            <a *ngIf="this.roleNoFromToken == 'System Administrator'"
              class="btn btn-success rounded-pill d-flex justify-content-center align-items-center " type="button"
              (click)="AddNewAnnouncement()">
              <i class="fa-sharp-duotone fa-solid fa-plus"></i><span class="fs-6">NEW</span></a>

          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-4">
        <div class="search" style="width: 100%;">
          <i class="fa-sharp-duotone fa-solid fa-magnifying-glass fa-search"></i>
           value="{{ today | date:'yyyy-MM-dd' }}" (ngModelChange)="onSearchAnnouncement()"
          <input type="date" class="form-control rounded-pill" [(ngModel)]="today" 
            placeholder="Date Announcement" aria-label="Search">
          <a class="btn btn-primary d-flex justify-content-center align-items-center rounded-pill" type="button"
            (click)="onSearchAnnouncement()"><i class="fa-sharp-duotone fa-solid fa-magnifying-glass"></i></a>
        </div>
      </div> -->
    <div class="card" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500">
      <div class="card-header">
        <div class="flex-wrap d-flex justify-content-between">
          <div class="header-title">
            <h2 class="counter"><i class="fa-solid fa-bullhorn me-2 text-warning"></i>Announcement and Updates <span
                class="text-danger">!!!</span></h2>
          </div>
          <div class="clearfix nav-announce" *ngIf="!isLoading">

            <div class="float-end hint-text">Showing <b>{{announcements.length}}</b> out of
              <b>{{totalItems}}</b>entries
            </div>
            <div class="float-end">
              <nav *ngIf="totalItems > pageSize" aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item" *ngIf="!(pageNumber === 1)" [class.disabled]="pageNumber === 1">
                    <a class="nav-link" (click)="changePage(pageNumber - 1)">Previous</a>
                  </li>

                  <li class="page-item"
                    *ngFor="let page of [].constructor(Math.ceil(totalItems / pageSize)); let i = index"
                    [class.active]="pageNumber === i + 1">
                    <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
                  </li>

                  <li class="page-item" *ngIf="!(pageNumber === Math.ceil(totalItems / pageSize))"
                    [class.disabled]="pageNumber === Math.ceil(totalItems / pageSize)">
                    <a class="nav-link" (click)="changePage(pageNumber + 1)">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <hr class="border border-secodary border-1 opacity-75">
      <div *ngIf="isLoading" class="text-center my-3 align-content-center" style="height: 65vh;">
        <img src="assets/images/loading.gif" alt="Loading..." width="100" style="height: 80px;">
        <span class="loading-text text-primary">Loading<span class="dot">.</span>
          <span class="dot">.</span><span class="dot">.</span></span>
      </div>
      <div class="card-body" *ngIf="!isLoading">

        <ng-container *ngFor="let a of announcements"> <!--let i of [1] -->
          <div class="card" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="500">

            <div class="card-header d-flex flex-column text-center">

              <h5 class="mb-0 text-primary" *ngIf="this.roleNoFromToken == 'System Administrator'">{{ a.aid }}</h5>
              <!--Welcome Greetings -->
              <h3 class="mb-0">{{ a.title }}</h3> <!--Welcome Greetings -->
              <div class="d-flex align-items-center justify-content-center my-2">
                <hr class="border border-secodary border-3 border-primary opacity-75 m-0" width="10%">
              </div>
              <small>{{ formatDate(a.date_Created) + ' ' + formatTime(a.date_Created) }}</small>
              <hr class="border border-secodary border-1 opacity-75">
            </div>

            <div class="card-body">
              <!-- <hr class="border border-secodary border-1 opacity-75"> -->
              <div class="d-flex align-items-center justify-content-between my-2">
                <p class="mt-3 lh-lg fw-light" [align]="'justify'">
                  <span class="me-5"></span>
                  {{a.content}}
                  <!-- Introducing the app named
                  "<span class="fw-bold text-decoration-underline">DDNAEINV - Asset and Equipment Inventory</span>"
                  with the purpose only for recording and used by to track, monitor, and manage all physical assets
                  (like machinery, computers, vehicles and etc.) and equipment throughout their lifecycle, providing
                  a centralized platform for optimizing asset utilization and making visual logs about transfer or
                  return; essentially, it's a way to keep detailed records to ensure proper management and prevent
                  pending status, loss or even unassigned property. With this, DDNAEINV is intended solely for asset
                  and equipment management purposes, ensuring that organizations maintain organized, up-to-date, and
                  verifiable records essential for operational efficiency, accountability, and strategic planning." -->
                </p>
              </div>
            </div>
            <div class="clearfix pe-4">
              <div class="float-end" role="status">
                <small class="text-primary fw-bold fst-italic float-right">{{ a.postedBy }}</small>
              </div>
            </div>
            <div class="card-footer flex-row d-flex justify-content-end align-items-center">

              <a *ngIf="this.roleNoFromToken == 'System Administrator'" class="text-warning pe-3" type="button"
                (click)="onEditAnnouncement(a)">
                <i class="fa-sharp-duotone fa-solid fa-pen-to-square" data-toggle="tooltip" title="Edit"></i> Edit</a>
              <a *ngIf="this.roleNoFromToken == 'System Administrator'" class="text-danger pe-2" type="button"
                (click)="onDeleteAnnouncement(a)"><i class="fa-sharp-duotone fa-solid fa-trash" data-toggle="tooltip"
                  title="Delete"></i> Delete</a>
            </div>

          </div>
        </ng-container>
      </div>

    </div>

  </div>
  <div class="col-lg-4 col-md-12 p-0">

    <!-- RECENTLY ADDED -->
    <div class="card logs" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500">
      <div class="card-header">
        <div class="flex-wrap d-flex justify-content-between">
          <div class="header-title">
            <h4 class="mb-2">
              Recently Added</h4>
          </div>
        </div>
      </div>
      <hr class="border border-secodary border-1 opacity-75">
      <div class="card-body">
        <ng-container *ngFor="let i of activities">
          <div class="mb-2 pb-1 d-flex profile-media align-items-top">
            <div class="mt-1 profile-dots-pills border-primary">
            </div>
            <div class="ms-4">
              <h6 class="mb-1">{{i.tableName+'-'+ i.recordID}}</h6>
              <span class="mb-0">{{'Action by '+ (i.actionByName? i.actionByName : i.actionBy)}}</span><br>
              <span class="mb-0 fst-italic" style="font-size: 11px;">{{formatDate(i.activityDate)}}</span>
            </div>
          </div>
        </ng-container>

        <!-- <div class="mb-2 d-flex profile-media align-items-top">
          <div class="mt-1 profile-dots-pills border-primary">
          </div>
          <div class="ms-4">
            <h6 class="mb-1">Affiliate Payout</h6>
            <span class="mb-0">11 JUL 7:64 PM</span>
          </div>
        </div>
        <div class="mb-2 d-flex profile-media align-items-top">
          <div class="mt-1 profile-dots-pills border-primary">
          </div>
          <div class="ms-4">
            <h6 class="mb-1">New user added</h6>
            <span class="mb-0">11 JUL 1:21 AM</span>
          </div>
        </div>
        <div class="mb-1 d-flex profile-media align-items-top">
          <div class="mt-1 profile-dots-pills border-primary">
          </div>
          <div class="ms-4">
            <h6 class="mb-1">Product added</h6>
            <span class="mb-0">11 JUL 4:50 AM</span>
          </div>
        </div> -->
      </div>
    </div>
    <!-- HORIZONTAL GRAPH -->
    <div class="card" *ngIf="this.roleNoFromToken == 'System Administrator'" data-aos="fade-up" data-aos-easing="linear"
      data-aos-duration="500">
      <div class="card-body">
        <h4 class="counter mb-3">Current Inventory by Office</h4>
        <!-- Vertical Divider -->
        <hr class="border border-secodary border-1 opacity-75">
        <!-- <p class="mb-2">By Office</p>  -->
        <!-- <h6>20% ($520)</h6> -->
        <!-- <a href="#" class="mt-4 btn btn-danger d-block rounded">Add credit</a> -->
        <div class="mt-3">
          <ng-container *ngFor="let i of totalItemsByOffice">
            <div class="pb-3">
              <div class="d-flex align-items-center justify-content-between mb-2">
                <p class="mb-0">{{ i.office }}</p>
                <h4>{{ i.totalEntries || 0 }}

                  <small class="fs-6 text-{{i.module == 'PARS'? 'primary':'warning'}}">
                    <i class="fa fa-arrow-{{i.module == 'PARS'? 'up':'down'}}"></i> 50K
                  </small>
                </h4>
              </div>
              <div class="progress bg-soft-info shadow-none w-100" role="progressbar" aria-label="Progress example"
                [attr.aria-valuenow]="i.percentage" attr.aria-valuemin="0" attr.aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" [ngClass]="{ 'bg-danger': i.percentage < 50, 'bg-info': i.percentage >= 50 && i.percentage <= 60,
                'bg-warning': i.percentage > 70 && i.percentage <= 80, 'bg-success': i.percentage > 90 }"
                  [style.width.%]="i.percentage"></div>
              </div>
            </div>
          </ng-container>


        </div>
      </div>
    </div>
    <!-- TOTAL CENSUS -->
    <div class="card user-census" *ngIf="this.roleNoFromToken == 'System Administrator'" data-aos="fade-up"
      data-aos-easing="linear" data-aos-duration="500">
      <div class="card-body d-flex justify-content-around align-items-center text-center">
        <!-- Items Section -->
        <div class="d-flex flex-column align-items-center">
          <div class="d-flex">
            <div class="me-3">
              <h2 class="mb-2">
                {{census?.totalItemsAbove50 || 0}}
                <small class="fs-6 text-success">
                  <i class="fa fa-arrow-up"></i> 50K
                </small>
              </h2>
            </div>
            <div>
              <h2 class="mb-2">
                {{census?.totalItemsBelow50 || 0}}
                <small class="fs-6 text-danger">
                  <i class="fa fa-arrow-down"></i> 50K
                </small>
              </h2>
            </div>
          </div>
          <p class="mb-0 text-gray">Total Items</p>
        </div>

        <!-- Vertical Divider -->
        <div class="vr mx-4"></div>

        <!-- Users Section -->
        <div class="d-flex flex-column align-items-center">
          <h2 class="mb-2">{{census?.totalUsers}}</h2>
          <p class="mb-0 text-gray">Registered User</p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->

<!-- ADD/EDIT -->
<div #AddEditModalForm class="modal fade" id="AddEditModalForm">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <form [formGroup]="announcementForm">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">{{
            isEditMode ?
            'Edit' : 'New' }} Announcement</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="resetForm()"></button>
        </div>
        <div class="modal-body">
          <div class="formGroup row">
            <div class="col-lg col-security">

              <div *ngIf="announcementForm.controls['title'].invalid && announcementForm.get('title')?.touched || announcementForm.controls['title'].dirty &&
                announcementForm.hasError('required', 'title')">
                <small class="text-danger">* Title is
                  required</small>
              </div>
              <div class="form-field d-flex align-items-center" [class.error]="announcementForm.controls['title'].invalid && announcementForm.get('title')?.touched  || announcementForm.controls['title'].dirty &&
                announcementForm.hasError('required', 'title')">
                <i class="fa-sharp-duotone fa-solid fa-pen"></i>
                <input type="text" formControlName="title" name="title" id="title" placeholder="Title of Announcement">
              </div>

              <div *ngIf="announcementForm.controls['description'].invalid && announcementForm.get('description')?.touched || announcementForm.controls['description'].dirty &&
                announcementForm.hasError('required', 'description')">
                <small class="text-danger">* Content is
                  required</small>
              </div>
              <div class="form-field d-flex align-items-center" [class.error]="announcementForm.controls['description'].invalid && announcementForm.get('description')?.touched  || announcementForm.controls['description'].dirty &&
                announcementForm.hasError('required', 'description')">
                <i class="fa-sharp-duotone fa-solid fa-pen"></i>

                <!-- oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px';" -->
                <textarea style="height:300px;" type="text" formControlName="description" name="description"
                  id="description" placeholder="Announcement Detail"></textarea>
              </div>

            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button id="closeBut" type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal"
            (click)="closeModal(AddEditModal)">Close</button>
          <button type="button" class="btn btn-primary rounded-pill" (click)="onSubmit()">{{
            isEditMode ? 'Update' :
            'Post'
            }}</button>
        </div>
      </form>

    </div>
  </div>
</div>