

<div class="row">
  <div class="col-md-12 col-lg-12">
    <!-- Carousel -->
    <div class="card-carousel">
      <button class="carousel-btn prev" id="prev" aria-label="Previous Slide">‹</button>
      <div class="carousel-container">
        <div class="carousel-track" id="carousel-track">
          <div class="card l-bg-cherry"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="500">
            <div class="card-statistic-3 p-4">
              <div class="card-icon card-icon-large">
                <i class="fas fa-receipt"></i>
              </div>
              <div class="mb-4">
                <h5 class="card-title mb-0">TOTAL PAR</h5>
              </div>
              <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                  <h2 class="d-flex align-items-center mb-0">{{totalPAR}}</h2>
                </div>
                <div class="col-4 text-right">
                  <span>12.5% <i class="fa fa-arrow-up"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card l-bg-blue-dark"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="1000">
            <div class="card-statistic-3 p-4">
              <div class="card-icon card-icon-large">
                <i class="fas fa-share-from-square"></i>
              </div>
              <div class="mb-4">
                <h5 class="card-title mb-0">TOTAL REPAR</h5>
              </div>
              <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                  <h2 class="d-flex align-items-center mb-0">{{totalREPAR}}</h2>
                </div>
                <div class="col-4 text-right">
                  <span>12.5% <i class="fa fa-arrow-up"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card l-bg-orange-dark"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2500">
            <div class="card-statistic-3 p-4">
              <div class="card-icon card-icon-large">
                <i class="fas fa-clipboard"></i>
              </div>
              <div class="mb-4">
                <h5 class="card-title mb-0">TOTAL ICS</h5>
              </div>
              <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                  <h2 class="d-flex align-items-center mb-0">{{totalICS}}</h2>
                </div>
                <div class="col-4 text-right">
                  <span>12.5% <i class="fa fa-arrow-up"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card l-bg-green-dark"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="card-statistic-3 p-4">
              <div class="card-icon card-icon-large">
                <i class="fas fa-share"></i>
              </div>
              <div class="mb-4">
                <h5 class="card-title mb-0">TOTAL ITR</h5>
              </div>
              <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                  <h2 class="d-flex align-items-center mb-0">{{totalITR}}</h2>
                </div>
                <div class="col-4 text-right">
                  <span>12.5% <i class="fa fa-arrow-up"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card l-bg-blue-dark"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2500">
            <div class="card-statistic-3 p-4">
              <div class="card-icon card-icon-large">
                <i class="fas fa-rotate-left"></i>
              </div>
              <div class="mb-4">
                <h5 class="card-title mb-0">TOTAL RRSP</h5>
              </div>
              <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                  <h2 class="d-flex align-items-center mb-0">{{totalPAR}}</h2>
                </div>
                <div class="col-4 text-right">
                  <span>12.5% <i class="fa fa-arrow-up"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card l-bg-cherry"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2500">
            <div class="card-statistic-3 p-4">
              <div class="card-icon card-icon-large">
                <i class="fas fa-rotate-left"></i>
              </div>
              <div class="mb-4">
                <h5 class="card-title mb-0">TOTAL PRS</h5>
              </div>
              <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                  <h2 class="d-flex align-items-center mb-0">{{totalPAR}}</h2>
                </div>
                <div class="col-4 text-right">
                  <span>12.5% <i class="fa fa-arrow-up"></i></span>
                </div>
              </div>
            </div>
          </div>
          <!-- Repeat similar card structures as needed -->
        </div>
      </div>
      <button class="carousel-btn next" id="next" aria-label="Next Slide">›</button>
    </div>
  </div>
  <div class="col-md-12 col-lg-8">
  </div>
  <div class="col-md-12 col-lg-4">
    <div class="card logs">
      <div class="card-header">
        <div class="flex-wrap d-flex justify-content-between">
          <div class="header-title">
            <h4 class="mb-2">
              Activity Overview</h4>
            <p class="mb-0">
              <svg width="24" height="24"
                viewBox="0 0 24 24" class="me-2">
                <path fill="#17904b"
                  d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z"></path>
              </svg>
              16% this month
            </p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div
          class="mb-2 d-flex profile-media align-items-top">
          <div
            class="mt-1 profile-dots-pills border-primary">
          </div>
          <div class="ms-4">
            <h6 class="mb-1">Affiliate Payout</h6>
            <span
              class="mb-0">11 JUL 7:64 PM</span>
          </div>
        </div>
        <div
          class="mb-2 d-flex profile-media align-items-top">
          <div
            class="mt-1 profile-dots-pills border-primary">
          </div>
          <div
            class="ms-4">
            <h6 class="mb-1">New user added</h6>
            <span
              class="mb-0">11 JUL 1:21 AM</span>
          </div>
        </div>
        <div
          class="mb-1 d-flex profile-media align-items-top">
          <div
            class="mt-1 profile-dots-pills border-primary">
          </div>
          <div
            class="ms-4"><h6 class="mb-1">Product added</h6>
            <span
              class="mb-0">11 JUL 4:50 AM</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card user-cencus">
      <div class="text-center card-body d-flex justify-content-around">
        <div>
          <h2 class="mb-2">750<small>K</small></h2>
          <p class="mb-0 text-gray">Website Visitors</p>
        </div>
        <hr class="hr-vertial"><div><h2 class="mb-2">7,500</h2>
          <p class="mb-0 text-gray">New Customers</p>
        </div>
      </div>
    </div>

  </div>
</div>
