<div class="row mt-5 d-none d-sm-block" style="height: 10px;"></div>

<div class="container-fluid py-5">

  <div class="row">
    <div class="col">
      <div class="card p-3 d-flex align-items-start"
        style="border-left-width: 0.5rem; border-color: var(--bs-primary);">
        <!-- Mobile Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-none ">
          <div class="container-fluid">
            <div class="row d-flex flex-row">
              <span class="text-primary fw-bold">GLOBAL SETTINGS - {{getTitle()}}</span>
              <button class="navbar-toggler d-lg-none" type="button" (click)="toggleNavbar()" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse d-lg-none " id="navbarNav" [class.show]="toggleMenu">
                <ul class="navbar-nav">
                  <li class="nav-item active" *ngIf="isModuleActive('ITEM CATEGORY')">
                    <a class="nav-link" [routerLink]="['itemcategory']" (click)="toggleNavbar()"
                      routerLinkActive="router-link-active">Item Category</a>
                  </li>
                  <li class="nav-item" *ngIf="isModuleActive('COMPANY')">
                    <a class="nav-link" [routerLink]="['company']" (click)="toggleNavbar()"
                      routerLinkActive="router-link-active">Company/Branch</a>
                  </li>
                  <li class="nav-item" *ngIf="isModuleActive('POSITION')">
                    <a class="nav-link" [routerLink]="['position']" (click)="toggleNavbar()"
                      routerLinkActive="router-link-active">Position</a>
                  </li>
                  <li class="nav-item" *ngIf="isModuleActive('USER GROUPS')">
                    <a class="nav-link" [routerLink]="['usergroup']" (click)="toggleNavbar()"
                      routerLinkActive="router-link-active">User Group</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>

      </div>
      <div *ngIf="isLoading" class="text-center my-3 align-content-center" style="height: 50vh;">
        <img src="assets/images/loading.gif" alt="Loading..." width="100" style="height: 80px;">
        <span class="loading-text text-dark">Loading<span class="dot">.</span>
          <span class="dot">.</span><span class="dot">.</span></span>

      </div>
      <router-outlet  *ngIf="!isLoading"></router-outlet>

    </div>
  </div>

</div>