/* Importing fonts from Google */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */

/* Reseting */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */

body {
  background: #ecf0f3;
}



/* LOGIN, REGISTER AND FORMS */
.bg {
  background-image: url('assets//images/bg.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom right;
}

/* --- STATUS MARK --- */
.status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
}

.status-dot.active {
  background-color: #00ff00;
}

.status-dot.inactive {
  background-color: red;
}

/* --- FORMS --- */

.outer {
  /* background-color: rgb(0 0 0 / 48%) !important; */
  height: 100vh;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

}

.panel-heading {
  display: flex !important;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.panel {
  max-width: 450px;
  min-height: 500px;
  padding: 40px 30px 30px 30px;
  background-color: rgb(236 240 243 / 93%);
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
  width: 80px;
  margin: auto;
}

.logo img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f,
    0px 0px 0px 5px #ecf0f3,
    8px 8px 15px #a7aaa7,
    -8px -8px 15px #fff;
}

/* .panel .name {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: #555;
} */


.panel .form-field input,
.panel .form-field select,
.formGroup .form-field input,
.formGroup .form-field select,
.formGroup .form-field textarea {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: #666;
  padding: 10px 15px 10px 10px;
  /* border: 1px solid red; */
}


.panel .form-field,
.formGroup .form-field {
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.panel .form-field .fas,
.formGroup .form-field .fas {
  color: #555;
}

.panel .btn {
  box-shadow: none;
  width: 100%;
  height: 40px;
  background-color: #03A9F4;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1,
    -3px -3px 3px #fff;
  letter-spacing: 1.3px;
}

.panel .btn:hover {
  background-color: #039BE5;
}

.panel a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #03A9F4;
}

.panel a:hover {
  color: #039BE5;
}

.border-warning {
  box-shadow: inset 2px 2px 2px #FFC107, inset -2px -2px 2px #FFC107 !important;
}

.error {
  box-shadow: inset 2px 2px 2px #ff0000, inset -2px -2px 2px #f00 !important;
}

.panel-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

@media(max-width: 680px) {

  .bg {
    background-position: top center ;
    background-size: 80%;
  }

  .outer {
    height: auto;
  }
}

/* --- LOADING EFFECT--- */

.loading-text {
  color: var(--bs-primary);
  font-weight: bolder;
}

.dot {
  display: inline-block;
  width: 8px;
  animation: dot-blink 1.5s steps(1) infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes dot-blink {
  0%, 20% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}


/* --- TOOLTIP--- */

/* Tooltip */
.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary) !important;
}


/* --- SEARCH | ADD | DELETE --- */
.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);

}

.search input {

  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;


}

.search input:focus {

  box-shadow: none;
  border: 2px solid blue;

}

.search .fa-search {

  position: absolute;
  top: 20px;
  left: 16px;
  color: var(--bs-primary);

}

.search a {

  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  background-color: var(--bs-primary);
  width: auto;

}

.action a {
  width: auto;
}


/* --- Table Template --- */
.table-responsive {
  margin: 30px 0;
}

.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  border-radius: 3px;
  min-width: 1000px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
  padding-bottom: 15px;
  background: #3a57e8;
  color: #fff;
  padding: 16px 30px;
  min-width: 100%;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}

.table-title .btn-group {
  float: right;
}

.table-title .btn {
  color: #fff;
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}

.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-title .btn span {
  float: left;
  margin-top: 2px;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 60px;
}

table.table tr th:last-child {
  width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}

table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}

table.table td a:hover {
  color: #2196F3;
}

table.table td a.edit {
  color: #FFC107;
}

table.table td a.delete {
  color: #F44336;
}

table.table td a.primary {
  color: #0d6efd;
}

table.table td a.secondary {
  color: #6c757d;
}

table.table td i {
  font-size: 19px;
}

table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.pagination {
  float: right;
  margin: 0 0 5px;
}

.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}

.pagination li a:hover {
  color: #666;
}

.pagination li.active a,
.pagination li.active a.page-link {
  background: #03A9F4;
}

.pagination li.active a:hover {
  background: #0397d6;
}

.pagination li.disabled i {
  color: #ccc;
}

.pagination li i {
  font-size: 16px;
  padding-top: 6px
}

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}

/* Custom checkbox */
.custom-checkbox {
  position: relative;
}

.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  margin: 5px 0 0 3px;
  z-index: 9;
}

.custom-checkbox label:before {
  width: 18px;
  height: 18px;
}

.custom-checkbox label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  background: white;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-sizing: border-box;
  z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: inherit;
  z-index: 3;
  transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked+label:before {
  border-color: #03A9F4;
  background: #03A9F4;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
  border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled+label:before {
  color: #b8b8b8;
  cursor: auto;
  box-shadow: none;
  background: #ddd;
}

/* Modal styles */
/* .modal .modal-dialog {
max-width: 400px;
} */
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 20px 30px;
}

.modal .modal-content {
  border-radius: 3px;
  font-size: 14px;
}

.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}

.modal .modal-title {
  display: inline-block;
}

.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}

.modal textarea.form-control {
  resize: vertical;
}

.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}

.modal form label {
  font-weight: normal;
}


/* QR CODE MODAL OVERLAY*/

.qr-overlay {
  position: absolute;    
  top: 19px;
  left: 30px;
  width: 88%;
  height: 75%;
  z-index: 2;
  pointer-events: none; 
  /* background-color: rgba(0, 0, 0, 0.7);  */
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}


.qr-overlay-line {
  width: 80%;
  height: 1px;
  background-color: var(--bs-primary);
  animation: scan-line 1s infinite ease-in-out;
}

@keyframes scan-line {
  0% {
    transform: translateY(-2550%);
  }
  50% {
    transform: translateY(2550%);
  }
  100% {
    transform: translateY(-2550%);
  }
}
